[Unit]
Description=test service
After=

[Service]
WorkingDirectory=/path/to/directory
User=guest
Group=guest
ExecStart=/bin/echo aloha
Restart=no
RestartSec=100ms

[Install]
WantedBy=multi-user.target
