[Unit]
Description=test service
After=
startLimitIntervalSec=0

[Service]
WorkingDirectory=/path/to/directory
ExecStart=/bin/echo aloha
Restart=no
RestartSec=100ms

[Install]
WantedBy=multi-user.target
